<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <thead>
        <tr>
            <td>uid</td>
            <td>id</td>
            <td>hashrate</td>
            <td>lastshare</td>
            <td>rating</td>
        </tr>
    </thead>
    <tbody>
        <% data.data.forEach(index => { %>
            <tr>
              <td><%= index.username %></td>
              <td><%= index.email %></td>
              <td><%= index.isAdmin %></td>
            </tr>
          <% }) %>
    </tbody>
</body>
</html>